@page
@{
    ViewData["Title"] = "About";
}

<h5>About</h5>

<p>
    Steve's Computer Training Certifications is an addition to Steve's Computer Training using ASP.NET Core 3.1 Razor Pages and Web API hosted on Azure App Services.
    Code is structured in a simple way using Design Patterns such as Domain Driven Design (DDD), Command Query Responsibility Segregation (CQRS),
    Mediator Pattern for commands, queries, and events, Dependency Injection, and Repository Pattern with Entity Framework Core. 
    Bootstrap 4 for styling and unit testing with Moq is also used.
</p>



