@page
@{
    ViewData["Title"] = "Contact";
}

<h5>Contact</h5>

<p>
    Steve Miazga - IT developer for Steve's Computer Training Certifications - a mock website hosted on Azure App Services.
</p>

<div class="hyperlink">
    <strong>Contact Steve Miazga at:</strong>&nbsp;&nbsp;<a href="mailto:smiazga@sbcglobal.net">smiazga@sbcglobal.net</a>
</div>
